
services:
  portfolio:
    image: nginx:alpine
    container_name: donnyvo-portfolio
    ports:
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./nginx:/etc/nginx/conf.d:ro
    restart: unless-stopped
  cloudflared:
     image: cloudflare/cloudflared:latest
     container_name: cloudflared
     restart: unless-stopped
     command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}
     environment:
       - CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}